In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cocktail_path = 'drive/MyDrive/CIT594_Project/recipe_dataset.csv'
cocktail_df = pd.read_csv(cocktail_path)
cocktail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1781 entries, 0 to 1780
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1781 non-null   int64
 1   strDrink         1781 non-null   object
 2   strCategory      1781 non-null   object
 3   strGlass         1781 non-null   object
 4   strIngredients   1781 non-null   object
 5   Alc_type         931 non-null    object
 6   Basic_taste      850 non-null    object
 7   strInstructions  1781 non-null   object
 8   strMeasures      1664 non-null   object
 9   Value_ml         1351 non-null   float64
 10  Value_gr         173 non-null    float64
 11  Garnish_amount   149 non-null    object
 12  Garnish_type     150 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 181.0+ KB

In [ ]:
cocktail_df.head(5)

,Unnamed: 0,strDrink,strCategory,strGlass,strIngredients,Alc_type,Basic_taste,strInstructions,strMeasures,Value_ml,Value_gr,Garnish_amount,Garnish_type
0,0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,Creamy Liqueur,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz white,30.0,NaN,NaN,NaN
1,1,'57 Chevy with a White License Plate,Cocktail,Highball glass,Vodka,Vodka,NaN,1. Fill a rocks glass with ice 2.add white cre...,1 oz,30.0,NaN,NaN,NaN
2,2,1-900-FUK-MEUP,Shot,Old-fashioned glass,Grand Marnier,Triple Sec,NaN,Shake ingredients in a mixing tin filled with ...,1/4 oz,7.5,NaN,NaN,NaN
3,3,1-900-FUK-MEUP,Shot,Old-fashioned glass,Midori Melon Liqueur,Sweet Liqueur,NaN,Shake ingredients in a mixing tin filled with ...,1/4 oz,7.5,NaN,NaN,NaN
4,4,1-900-FUK-MEUP,Shot,Old-fashioned glass,Malibu Rum,Rum,NaN,Shake ingredients in a mixing tin filled with ...,1/4 oz,7.5,NaN,NaN,NaN

In [ ]:
print(list(cocktail_df[cocktail_df['strDrink'] == 'Dirty Martini']['strInstructions'].head(1)))

['Pour the vodka, dry vermouth and olive brine into a cocktail shaker with a handful of ice and shake well.\r\nRub the rim of a martini glass with the wedge of lemon.\r\nStrain the contents of the cocktail shaker into the glass and add the olive.\r\nA dirty Martini contains a splash of olive brine or olive juice and is typically garnished with an olive.']

In [ ]:
cocktail_df.columns

Index(['Unnamed: 0', 'strDrink', 'strCategory', 'strGlass', 'strIngredients',
       'Alc_type', 'Basic_taste', 'strInstructions', 'strMeasures', 'Value_ml',
       'Value_gr', 'Garnish_amount', 'Garnish_type'],
      dtype='object')

In [ ]:
col_to_drop = ['Unnamed: 0', 'Alc_type', 
               'strMeasures', 'Value_ml', 
               'Value_gr', 'Garnish_amount', 
               'Garnish_type']
cocktail_df.drop(col_to_drop, axis='columns', inplace=True)    
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,'57 Chevy with a White License Plate,Cocktail,Highball glass,Creme De Cacao White,NaN,1. Fill a rocks glass with ice 2.add white cre...
1,'57 Chevy with a White License Plate,Cocktail,Highball glass,Vodka,NaN,1. Fill a rocks glass with ice 2.add white cre...
2,1-900-FUK-MEUP,Shot,Old-fashioned glass,Grand Marnier,NaN,Shake ingredients in a mixing tin filled with ...
3,1-900-FUK-MEUP,Shot,Old-fashioned glass,Midori Melon Liqueur,NaN,Shake ingredients in a mixing tin filled with ...
4,1-900-FUK-MEUP,Shot,Old-fashioned glass,Malibu Rum,NaN,Shake ingredients in a mixing tin filled with ...

In [ ]:
cocktail_df.dropna(inplace=True)
cocktail_df.reset_index(drop=True, inplace=True)
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,1-900-FUK-MEUP,Shot,Old-fashioned glass,Cranberry Juice,sour,Shake ingredients in a mixing tin filled with ...
1,1-900-FUK-MEUP,Shot,Old-fashioned glass,Pineapple Juice,sweet,Shake ingredients in a mixing tin filled with ...
2,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Milk,cream,Combine all ingredients. Blend until smooth. G...
3,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,Vanilla Ice-Cream,cream,Combine all ingredients. Blend until smooth. G...
4,155 Belmont,Cocktail,White wine glass,Orange Juice,sweet,Blend with ice. Serve in a wine glass. Garnish...

In [ ]:
# cocktail_df = cocktail_df.groupby('strDrink').transform(lambda x: ','.join(x))

In [ ]:
cocktail_df['strIngredients'] = cocktail_df.groupby('strDrink')['strIngredients'].transform(lambda x: ','.join(x))
cocktail_df = cocktail_df.groupby('strDrink').last().reset_index()
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions
0,1-900-FUK-MEUP,Shot,Old-fashioned glass,"Cranberry Juice,Pineapple Juice",sweet,Shake ingredients in a mixing tin filled with ...
1,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,"Milk,Vanilla Ice-Cream",cream,Combine all ingredients. Blend until smooth. G...
2,155 Belmont,Cocktail,White wine glass,Orange Juice,sweet,Blend with ice. Serve in a wine glass. Garnish...
3,3-Mile Long Island Iced Tea,Ordinary Drink,Collins Glass,"Coca-Cola,Sweet And Sour,Lemon",sour,Fill 14oz glass with ice and alcohol. Fill 2/3...
4,410 Gone,Ordinary Drink,Collins Glass,Coca-Cola,sweet,"Pour 2oz Vodka into a low ball glass, top up w..."

In [ ]:
cocktail_df[cocktail_df['strIngredients'].str.contains(';')]

Empty DataFrame
Columns: [strDrink, strCategory, strGlass, strIngredients, Basic_taste, strInstructions]
Index: []

In [ ]:
cocktail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   strDrink         397 non-null    object
 1   strCategory      397 non-null    object
 2   strGlass         397 non-null    object
 3   strIngredients   397 non-null    object
 4   Basic_taste      397 non-null    object
 5   strInstructions  397 non-null    object
dtypes: object(6)
memory usage: 18.7+ KB

In [ ]:
# cocktail_df['strIngredients'] = cocktail_df['strIngredients'].apply(lambda x: x.split(','))
# cocktail_df.head(5)

In [ ]:
cocktail_df.info()
print(len(cocktail_df['strDrink'].unique()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   strDrink         397 non-null    object
 1   strCategory      397 non-null    object
 2   strGlass         397 non-null    object
 3   strIngredients   397 non-null    object
 4   Basic_taste      397 non-null    object
 5   strInstructions  397 non-null    object
dtypes: object(6)
memory usage: 18.7+ KB
397

In [ ]:
import random

randomlist = []
for i in range(len(cocktail_df)):
  n = random.randint(10, 20)
  randomlist.append(n)
print(randomlist)

[20, 13, 16, 18, 16, 13, 15, 14, 15, 19, 14, 15, 19, 15, 13, 15, 19, 18, 20, 10, 18, 20, 15, 11, 12, 19, 10, 12, 15, 13, 20, 13, 12, 20, 18, 19, 15, 12, 14, 16, 10, 17, 18, 18, 14, 11, 17, 11, 20, 15, 10, 16, 20, 11, 18, 10, 17, 19, 12, 12, 14, 20, 15, 19, 15, 15, 17, 19, 10, 15, 15, 17, 11, 14, 13, 12, 15, 11, 10, 17, 20, 14, 18, 18, 11, 11, 13, 17, 12, 15, 16, 10, 17, 15, 11, 20, 15, 16, 16, 19, 15, 17, 18, 16, 14, 14, 20, 14, 16, 13, 15, 20, 11, 17, 14, 17, 15, 13, 20, 13, 12, 17, 13, 16, 12, 17, 17, 13, 16, 19, 20, 19, 20, 15, 15, 11, 19, 17, 14, 12, 11, 19, 13, 20, 17, 14, 15, 19, 14, 17, 10, 10, 13, 18, 17, 16, 14, 14, 15, 18, 13, 12, 19, 17, 16, 18, 15, 18, 20, 12, 20, 17, 18, 15, 10, 11, 20, 17, 19, 10, 16, 18, 14, 17, 13, 10, 12, 12, 15, 20, 18, 14, 19, 10, 19, 10, 11, 16, 10, 14, 15, 14, 14, 20, 12, 10, 10, 14, 20, 10, 10, 19, 19, 15, 13, 12, 14, 15, 18, 10, 15, 19, 14, 18, 20, 10, 20, 11, 11, 12, 20, 16, 17, 18, 18, 14, 20, 11, 17, 16, 16, 13, 20, 13, 17, 17, 12, 15, 13, 14, 11, 15, 10, 10, 18, 11, 13, 14, 12, 15, 12, 12, 12, 16, 18, 20, 19, 10, 18, 13, 19, 11, 19, 12, 12, 15, 18, 12, 18, 19, 13, 13, 13, 14, 11, 10, 16, 15, 12, 14, 17, 14, 14, 11, 12, 20, 17, 12, 20, 14, 16, 15, 11, 12, 16, 19, 16, 20, 13, 20, 13, 11, 10, 15, 17, 15, 15, 20, 13, 11, 13, 16, 14, 14, 17, 20, 13, 17, 13, 14, 13, 11, 16, 11, 11, 19, 20, 13, 14, 17, 17, 13, 12, 18, 20, 13, 14, 13, 17, 17, 18, 16, 13, 19, 12, 18, 17, 20, 16, 20, 14, 15, 17, 12, 18, 11, 14, 19, 14, 20, 17, 14, 19, 15, 19, 12, 18, 14, 20, 16, 17, 12, 17, 19, 18, 13, 16, 19, 10, 12, 11, 11, 10, 14, 12, 20, 13]

In [ ]:
cocktail_df['price'] = randomlist

In [ ]:
cocktail_df.head(5)

,strDrink,strCategory,strGlass,strIngredients,Basic_taste,strInstructions,price
0,1-900-FUK-MEUP,Shot,Old-fashioned glass,"Cranberry Juice,Pineapple Juice",sweet,Shake ingredients in a mixing tin filled with ...,20
1,151 Florida Bushwacker,Milk / Float / Shake,Beer mug,"Milk,Vanilla Ice-Cream",cream,Combine all ingredients. Blend until smooth. G...,13
2,155 Belmont,Cocktail,White wine glass,Orange Juice,sweet,Blend with ice. Serve in a wine glass. Garnish...,16
3,3-Mile Long Island Iced Tea,Ordinary Drink,Collins Glass,"Coca-Cola,Sweet And Sour,Lemon",sour,Fill 14oz glass with ice and alcohol. Fill 2/3...,18
4,410 Gone,Ordinary Drink,Collins Glass,Coca-Cola,sweet,"Pour 2oz Vodka into a low ball glass, top up w...",16

In [ ]:
cocktail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   strDrink         397 non-null    object
 1   strCategory      397 non-null    object
 2   strGlass         397 non-null    object
 3   strIngredients   397 non-null    object
 4   Basic_taste      397 non-null    object
 5   strInstructions  397 non-null    object
 6   price            397 non-null    int64
dtypes: int64(1), object(6)
memory usage: 21.8+ KB

In [ ]:
cocktail_df['Basic_taste'].value_counts()

sweet     188
sour       91
cream      41
bitter     28
water      15
spicy      14
egg         9
salty       8
mint        3
Name: Basic_taste, dtype: int64

In [ ]:
cocktail_df.to_csv("drive/MyDrive/CIT594_Project/cocktail_df_cleaned.txt", index = False, sep=';', header = None)